.CategoryName {
  background-color: yellow;
}

.Price {
  margin-left: 25px;
}

.Description {
  font-size: 10px;
}

.CountAndPrice {
  float: right;
}

.Count {
  margin-left: 10px;
  margin-right: 10px;
}

.MenuItem {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  float: left;
  margin: 10px;
}

.MenuItemContainer {
  padding: 1rem;
  position: relative;
}

.MenuImage {
  width: 170px;
  height: auto;
}
